@media (max-width: 640px) {
    .heroContentHeading{
transform: translate(0px,-30vh)!important;
}
    .heroContentParagraph{
transform: translate(0px,-32vh)!important;
}
.ctaButtons{
    transform: translate(0px,10vh)!important;
}
}