@media (max-width: 640px) {
    .heroContentHeading{
transform: translate(0px,-40vh)!important;
}
    .heroContentParagraph{
transform: translate(0px,-43vh)!important;
}
.ctaButtons{
    transform: translate(0px,-1vh)!important;
}
}